/*

!/Library/
/Library/*

!/Library/Application\ Scripts
/Library/Application\ Scripts/*
!/Library/Application\ Scripts/com.roeybiran.Finbar/

!/Library/Application\ Support/
/Library/Application\ Support/*
!/Library/Application\ Support/Cursor/
/Library/Application\ Support/Cursor/*
!/Library/Application\ Support/Cursor/User/
/Library/Application\ Support/Cursor/User/*
!/Library/Application Support/Cursor/User/keybindings.json
!/Library/Application Support/Cursor/User/settings.json

!/Library/iTunes/
/Library/iTunes/*
!/Library/iTunes/Scripts/

!/Library/KeyBindings/

!/Library/Preferences/
/Library/Preferences/*

!/Library/Scripts/


!.Brewfile
!/.bashrc
!/.bin/
!/.config/
/.config/*
!/.config/atuin/
!/.config/fish/
/.config/fish/*
!/.config/fish/*.fish
!/.config/fish/fishfile
!/.config/fish/functions/
!/.config/fish/completions/
!/.config/fish/conf.d/
!/.config/fish/config.fish
!/.config/ghostty/
!/.config/git/
!/.config/git-delta/
!/.config/jj/
!/.config/karabiner
/.config/karabiner/*
!/.config/karabiner/karabiner.json
!/.config/kitty
!/.config/nvim
/.config/nvim/lua/erl_crash.dump
!/.config/osx-defaults/
!/.config/pitchfork/
!/.config/ripgrep/
!/.config/starship.toml
!/.ctags
!/.cursor
/.cursor/*
!/.cursor/extensions
/.cursor/extensions/*
!/.cursor/extensions/extensions.json
!/.gemrc
!/.gvimrc
!/.hushlogin
!/.irbrc
!/.tmux.conf
!/.vimrc
!/.zprofile
!/bin
