[submodule "/Users/miha/.rbenv/plugins/rbenv-gem-rehash"]
	path = .rbenv/plugins/rbenv-gem-rehash
	url = https://github.com/sstephenson/rbenv-gem-rehash.git
[submodule ".vim/bundle/ag.vim"]
	path = .vim/bundle/ag.vim
	url = https://github.com/rking/ag.vim.git
[submodule ".vim/bundle/vim-bracketed-paste"]
	path = .vim/bundle/vim-bracketed-paste
	url = https://github.com/ConradIrwin/vim-bracketed-paste.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary.git
[submodule ".vim/bundle/vim-eunuch"]
	path = .vim/bundle/vim-eunuch
	url = https://github.com/tpope/vim-eunuch.git
[submodule ".vim/bundle/vim-fish"]
	path = .vim/bundle/vim-fish
	url = https://github.com/dag/vim-fish.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-unimpaired"]
	path = .vim/bundle/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/slim-template/vim-slim.git
[submodule ".vim/bundle/vim-ruby"]
	path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-ragtag"]
	path = .vim/bundle/vim-ragtag
	url = https://github.com/tpope/vim-ragtag.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/vim-crystal"]
	path = .vim/bundle/vim-crystal
	url = https://github.com/rhysd/vim-crystal
[submodule ".vim/bundle/vim-bundler"]
	path = .vim/bundle/vim-bundler
	url = git://github.com/tpope/vim-bundler.git
[submodule ".vim/bundle/vim-test"]
	path = .vim/bundle/vim-test
	url = https://github.com/janko-m/vim-test.git
	ignore = dirty
[submodule ".vim/bundle/papercolor-theme"]
	path = .vim/bundle/papercolor-theme
	url = https://github.com/NLKNguyen/papercolor-theme.git
[submodule ".vim/bundle/file-line"]
	path = .vim/bundle/file-line
	url = https://github.com/bogado/file-line
[submodule ".vim/bundle/vim-projectionist"]
	path = .vim/bundle/vim-projectionist
	url = git://github.com/tpope/vim-projectionist.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
[submodule ".vim/bundle/vim-yaml-helper"]
	path = .vim/bundle/vim-yaml-helper
	url = https://github.com/lmeijvogel/vim-yaml-helper
[submodule ".vim/bundle/vim-rails"]
	path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails
[submodule ".vim/bundle/vim-rhubarb"]
	path = .vim/bundle/vim-rhubarb
	url = https://github.com/tpope/vim-rhubarb
[submodule ".vim/bundle/nginx.vim"]
	path = .vim/bundle/nginx.vim
	url = https://github.com/chr4/nginx.vim.git
[submodule ".vim/bundle/vim-easy-align"]
	path = .vim/bundle/vim-easy-align
	url = https://github.com/junegunn/vim-easy-align.git
[submodule ".vim/bundle/vim-dispatch"]
	path = .vim/bundle/vim-dispatch
	url = git://github.com/tpope/vim-dispatch.git
[submodule ".vim/bundle/vim-vinegar"]
	path = .vim/bundle/vim-vinegar
	url = https://github.com/tpope/vim-vinegar.git
[submodule ".vim/bundle/ultisnips"]
	path = .vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "/Users/miha/.vim/bundle/ale"]
	path = .vim/bundle/ale
	url = https://github.com/w0rp/ale.git
[submodule ".local/share/nvim/site/pack/vim-abolish"]
	path = .local/share/nvim/site/pack/vim-abolish
	url = git://github.com/tpope/vim-abolish.git
[submodule ".local/share/nvim/site/pack/git/start/direnv.vim"]
	path = .local/share/nvim/site/pack/git/start/direnv.vim
	url = https://github.com/direnv/direnv.vim.git
[submodule ".local/share/nvim/site/pack/git/start/neovim-fuzzy"]
	path = .local/share/nvim/site/pack/git/start/neovim-fuzzy
	url = git@github.com:cloudhead/neovim-fuzzy.git
[submodule ".local/share/nvim/site/pack/git/start/fzf.vim"]
	path = .vim/bundle/fzf.vim
	url = git@github.com:junegunn/fzf.vim.git
[submodule ".local/share/nvim/site/pack/git/start/elm-vim"]
	path = .vim/bundle/elm-vim
	url = https://github.com/ElmCast/elm-vim
[submodule ".vim/bundle/vim-rsi"]
	path = .vim/bundle/vim-rsi
	url = https://github.com/tpope/vim-rsi
