[user]
	name = Miha Filej
	email = miha@filej.net
[core]
	excludesfile = /Users/miha/.gitignore-global
	editor = vim -f
[alias]
	s = status -sb
	k = commit -v
	ka = commit --all -v
	km = commit --amend -v
	co = checkout
	l = log --graph --decorate --pretty=sentence
	b = branch
	f = fetch
	r = rebase
	msg = commit --allow-empty -m
	p = cherry-pick
	h = help -w
	head = log -1 --pretty=sentence --decorate
	amend = commit --amend -C HEAD
	undo = reset --soft HEAD^
	sup = log --reverse --no-merges --stat HEAD@{1}..
[pretty]
	sentence=format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white)%s%Creset %C(green)%cr %C(dim)by %an%Creset
[clean]
	requireForce = true
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow 
	remote = white
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = white bold
[push]
	default = current
[merge]
	summary = true
	tool = Kaleidoscope
[include]
	path = ~/.githubconfig
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[diff]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[mergetool]
	prompt = false
[github]
	user = mfilej
	password = !security find-generic-password -gs github.password -w | tr -d '\n'
[credential]
	helper = osxkeychain
