[user]
	name = Miha Filej
	email = miha@filej.net
	signingkey = 2082F4F0DF126C5E
[core]
	excludesfile = ~/.cvsignore
	pager = delta
[alias]
	l = log --graph --decorate --pretty=sentence
	r = rebase
	f = fetch
	msg = commit --allow-empty -m
	h = help -w
	head = log -1 --pretty=sentence --decorate
	ctags = !.git/hooks/ctags
	dt = difftool -y -t Kaleidoscope
	mt = mergetool -y -t Kaleidoscope
	wip = commit --no-verify -m "Wip"
[pretty]
	sentence=format:%C(yellow)%h%Creset%C(red)%d%Creset %C(white)%s%Creset %C(green)%cr %C(dim)by %an%Creset
[clean]
	requireForce = true
[color]
	ui = true
[color "branch"]
	current = yellow reverse
	local = yellow 
	remote = white
[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red
	new = green
[color "status"]
	added = green bold
	changed = yellow bold
	untracked = white bold
[push]
	default = current
[credential]
	helper = osxkeychain
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustExitCode = true
[init]
	templatedir = ~/.git-template
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[rebase]
	autosquash = true
[merge]
	tool = Kaleidoscope
[difftool]
	prompt = false
[mergetool]
	prompt = false
[diff]
	tool = Kaleidoscope
[url "git@github.com:"]
	insteadOf = hub:
[diff "exif"]
	textconv = exiftool
[include]
	path = .gitconfig-work
[protocol]
	version = 2
[interactive]
	diffFilter = delta --color-only
[delta]
	features = line-numbers decorations
	syntax-theme = Dracula
	whitespace-error-style = 22 reverse
[delta "decorations"]
	commit-decoration-style = bold yellow box
	file-style = bold yellow ul
