/*

!/Library/
/Library/*
!/Library/Scripts/
!/Library/iTunes/
/Library/iTunes/*
!/Library/iTunes/Scripts/
!/.ackrc
!/.gemrc
!/.gitconfig
!/.gitignore
!/.gitignore-global
!/.irbrc
!/.vim
/.vim/.netrwhist
!/.vimrc
!/.zsh
!/.zshrc
!/.zshenv
