/*

!/Library/
/Library/*
!/Library/Preferences/
/Library/Preferences/*
!/Library/Scripts/
!/Library/iTunes/
/Library/iTunes/*
!/Library/iTunes/Scripts/
!/Library/KeyBindings/
!/.ackrc
!/.bin/
!/.config/
/.config/*
!/.config/Brewfile
!/.config/fish/
/.config/fish/*
!/.config/fish/*.fish
!/.config/fish/functions/
!/.config/fish/completions/
!/.config/fish/config.fish
!/.config/osx-defaults/
!/.direnvrc
!/.dotfiles-vendor
!/.gemrc
!/.git-template
!/.gitconfig
!/.gitignore
!/.gitignore-global
!/.gvimrc
!/.irbrc
!/.mackup.cfg
!/.NSUserReplacementItems
!/.rbenv
/.rbenv/*
!/.rbenv/default-gems
!/.rbenv/plugins
!/.tmux.conf
!/.vim
/.vim/.netrwhist
!/.vimrc
!/.zsh
!/.zshrc
!/.zshenv
