*.css       diff=css
*.ex        diff=elixir
*.exs       diff=elixir
*.html      diff=html
*.markdown  diff=markdown
*.md        diff=markdown
*.php       diff=php
*.png       diff=exif
*.py        diff=python
*.rake      diff=ruby
*.rb        diff=ruby
*.rs        diff=rust
